@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bungee', cursive;
}


@font-face {
    font-family: Lato;
    src: url(./fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Black;
    src: url(./fonts/Lato-Black.ttf);
}

body{
    background-color: #d96c94;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f5fc00' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    
    width: 100%;
}

nav{
    background-color: #a4bf69;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23298a3e' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

.titulo{
    color: #7c3fee;
    width: 100vw;
    text-align: center;
    padding: 30px;
    font-size: 30px;
    
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20;
    margin: 0 auto;
    margin-top: 30px;
}

.card{
    max-width: 250px;
    position: relative;
    padding: 15px 10px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 5px;
    background: #F299D3;
    box-shadow: 2px 2px 5px rgb(66, 66, 66);
}

.imgProducto{
    position: relative;
    width: 100%;
    border-radius: 5px;
    margin: 5px 0;
}

p{
    color: #422514;
    
    text-align: center;
    
    padding: 10px;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.btnAgregar{
    height: 40px;
    padding: 0 15px;
    border-radius: 25px;
    border: 2px solid #422514;
    background: #a4bf69;
    color: #7c3fee;
    
    transition: .5s ease;
}
.btnAgregar:hover{
    background: #7c3fee;
    color: #a4bf69;
}
.btnAgregar:active{
    background: #0F172E;
}


.cart{
    position: absolute;
    right: 35px;
    top: 25px;
    text-decoration: none;
}

.cartIcon{
    width: 30px;
}

.cartContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.txtCarrito{
    text-align: center;
    color: white;
    margin: 30px;
}
.btnVolver{
    text-decoration: none;
    width: fit-content;
}
.btnVolver button{
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #dd2313;
    
    transition: 0.5s ease;
    border: none;
}

.btnVolver button:hover{
    color: #E9EEF2;
    background: #dd2313;
}


#cartCounter{
    position: absolute;
    width: 15px;
    height: 15px;
    color: white;
    background: black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 13px; */
    text-align: center;
}

.tableContainer{
    display: flex;
    justify-content: center;
}

table{
    border-radius: 5px;
    color: black;
    
}

table tr th:first-child{
    width: 80px;
}

table tr th:nth-child(2){
    width: 300px;
}

thead tr th{
    background: #326789;
    color: #E9EEF2; 
}

thead tr th:first-child{
    border-radius: 10px 0px 0px 0px;
}

thead tr th:last-child{
    border-radius: 0px 10px 0px 0px;
}


tbody tr:nth-child(even){
    background: #326789;
}

tbody tr:nth-child(odd){
    background: #78A6C8;
}

tfoot tr th{
    background: #326789;
    color: #E9EEF2;
}

tfoot tr th:first-child{
    border-radius: 0px 0px 0px 10px;
}


tfoot tr th:last-child{
    border-radius: 0px 0px 10px 0px;
}

th{
    background: transparent;
}

.imgProdCart{
    width: 80px;
    margin: 3px;
    border-radius: 5px;
}

.detallesTabla{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trash{
    width: 30px;
}

.nombreProd{
    padding-left: 10px;
}

.txtTotal{
    text-align: right;
    padding: 10px;
}

.txtTabla{
    padding: 10px;
    font-size: 20px;
}

.btnTerminar{
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #dd2313;
    
    transition: 0.5s ease;
    border: none;
}

.btnTerminar:hover{
    color: #E9EEF2;
    background: #dd2313;
}
